body{
    margin: 0px;
    padding: 0px;
}




.b{
    display: flex;
    background-color: grey;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.c{
    display: flex;
    background: grey;
    width: 90%;
    height: 95% ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    background-color: black;
    align-content: space-around;
    justify-content: space-around;
    border: none;

}

.header{
    width: 100%;
    background-color: black;
    height: 30%;
    display: flex;
    flex-direction: column;
}

#image{

    margin-top: 20px;
}

img{
    height: 50px;
    width: 50px;
    border-radius: 100%;

}
#name{
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
#firstname{
    font-size: 25px;
}


.header2
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    background-color: black;
    align-content: space-around;
    justify-content: space-around;
    z-index: 1;

}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.section-a{
    font-size: 30px;
}

.midsection
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    background-color: white;
    z-index: 1;

}

.row{
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    height: 10%;
    align-items: center;
}

.row-notification{
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    height: 10%;
    align-items: center;
    justify-content: space-between;
}

.left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.right{
    margin-right: 40px;
}

.row-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: grey;
}

.row-name{
    margin-left: 10px;
}

.line-two{
    width: 80%;
    background-color: grey;
    height: 1px;
    display: flex;
    align-self: center;
    margin-top: 6px;
    
}

.line-one{

    width: 70%;
    background-color: grey;
    height: 1px;
  
    align-self: center;
    margin-top: 6px;
    z-index: 2;

}
.row-num{
    display: flex;
    width: 25px;
    height: 25px;
    background-color: grey;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    
}


#p{
    margin-left: 20px;
   
    font-size: 20px;
    color: grey;
}

.extra{
    margin-left: 20px;
    display: flex;
    height: 10%;
    align-items: center;
}


.footer
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 4px 15px #888888 inset;

    justify-content: space-around;
    align-items: center;
    position: relative;
    top: -2px;
    z-index: 2;

    
    

   
}