body{
    margin: 0px;
    padding: 0px;
}




.b{
    display: flex;
    background-color: grey;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.c{
    display: flex;
    background: black;
    width: 90%;
    height: 95% ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo{
    display: flex;
    height: 30%;
    
}
P#a{
 
    font-size: 60px;
    color: white;
    
}

.form{
    display: flex;
    height: 45%;
    width: 80%;
    background-color: white;
    flex-direction: column;
    border-radius: 25px;
    align-self: center;
    justify-self: center;
}

.form-head{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around ;
    margin: 20px;
}

.form-input-name{

    background-color: grey;
    width: 100%;
    height: 30px;
    color: black;
    border: none;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.form-input{
    
    margin-left: 4px;
}

.form-content{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-box{

    display: flex;
    width: 70%;
    flex-direction: column;
    height: 90%;
    margin-top: 40px;
    font-size: 20px;
 
}




.form-name{
    margin-bottom: 5px;
    color: grey;
}

span#b{
    color: grey;
}

.bottom{
    position: relative;
    display: flex;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    top: -14px;
  
}

.bottom-circle{
  
    display: flex;
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    
  
}

.footer{
    display: flex;
    color: grey;
}

a:link{
    text-decoration: none;
}
::placeholder{
    color: black;
    margin-left: 2px;
}